.signinBox {
  position: static;
  margin-top: 0px;
  margin-left: 0px;
  height:inherit;
  width: 70px
}



.sidebar {
  height: 80%;
  border-radius: 5%;
  background-color: rgb(0,0,0,.3);
  position:absolute;
  left: -170px;
  transition: .2s;

  color: white
}
.sidebar:hover{
  left: 0;
  background-color: rgb(0,0,0,.8);
  opacity: 1;
  z-index: 1
}
.sidebar ul li {
  margin-left: 4px;
  margin-top: 10px;
}

.navbar {
  height: 70px;

}

.userPhoto{
  width: 100%;
  height: 100%;
  margin:0 auto;


}

.blurred {
  filter: blur(8px)
}
.dropdown {
  position: relative;
  display: inline-block
}
.dropdown:hover .dropdown_contents{
  display:inline-block;

}
.dropdown:hover {
}
.dropdown:hover .drop_down_button {display: block}
.dropdown_contents .alink {
  color: white;
  text-decoration: none;
  display: block;



}
.dropdown_contents .alink:hover {
  background-color: rgb(255,255,255,.2);


}
.dropdown_contents{
  display: none;
  position: absolute;
  z-index: 1;
}
