*{
  box-sizing: border-box;
}
.searchList {
  visibility: collapse;
  transition: all  1s;
  transform: translateX(%)

}
.seeMe {
  visibility: visible;
  transform: translateY(-400%)
}

.main {
  /* background: linear-gradient(to left, blue, black); */
  background-color: #222831;

  /* background: linear-gradient(to right, rgb(255,255,255,.1), rgb(100,100,100,.5) 95%, rgb(100,100,100,.1) 100%);
  */
  width: 130%
}

.welcome {
  text-align: center;
}
.news_post_container {
  margin: 0 auto;


}
.news_post_container {
  box-sizing: content-box;
}
.newbox {
    margin: 0 auto;
    width: 70%;
}
.news_post_container .newbox:nth-child(even){
  transform: perspective(400px) rotateX(-3deg) translateY(3px);
  transform: translateX(20px);
  background-color:rgb(150,155,155,.9);
  color: white


}
.shrunk {
  box-shadow: inset 0 -5px 1px 1px rgba(255,255,255,.4)
}
.news_post_container .newbox:nth-child(odd){
   transform: perspective(400px) rotateX(3deg) translateY(1px) scale(1.001);
   transform: translateX(-20px);

}
.form {
  width: 75%;
  margin: 0 auto;
  display: inline-block;
  background-color: rgb(169,169,169,.3);
  border-radius: 1%;
  overflow-x: hidden
}
.center_block{
}

.submitPost {
  border: 1px solid grey;
  margin: 0 auto;
  bottom: 100%;
}
.label_block {
  margin: 0 auto;
  text-align: center;
}
.title_draft {
  background-color: black;
  font-size: 15px;
  color: white
}

.post_draft {
  width: 500px;
  height: 200px;
  margin: 0 auto;
  background-color: black;
  color: white;
  font-size: 15px;
  overflow-y: auto
}


button {
  border: 1px solid grey;



}
hover::button{
  color: white
}
