.newpost {
  text-align: center;

  margin-top: 3px;
  margin-bottom: 3px;
  padding-bottom: 5px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  overflow-y: hidden;
  max-height: 130px;
  border-bottom: 1px solid black

}

.uid {
  position: relative;
  font-size: 5px;


}
