.grid_container{
  display: block;


  padding: 15px;
  border-top-color: inherit;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;


}
h1 {
  color: red;
}
.imgOne {
  grid: 'img1';
}
.imgTwo {
  grid: 'img2';
}
.imgThree {
  grid: "img3"
}
.imgFour {
  grid: 'img4'
}
img {
 margin-top: 10px;
 margin-bottom: 5px;
 height: 150px;
 width: 150px
}
.grid_image_container {
  text-align: center;
  font-size: 30px;
  background-color: white;


}
.selected {
  background-color: rgb(237,237,230,.1)
}
