

.styleContainer {
  background: linear-gradient(170deg, #222831 96%, rgba(9,9,121,1) 97%, rgba(0,212,255,1) 100%) ;
  color: white;
  box-sizing: border-box;
  text-align:justify;
  height: 100%;
  position:absolute;
  width: 100%;

}


p {
  font-family: 'Fredoka One'
}
*{

  box-sizing: border-box
}
