
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Gruppo";
  src: url('https://fonts.googleapis.com/css?family=Gruppo');

}
@font-face {
  font-family: 'Cousine', monospace;
  src: url('https://fonts.googleapis.com/css?family=Cousine')
}

@font-face {
  font-family: 'Bree Serif';
  src: url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap')

}

@font-face {
  font-family: "Raleway";
  src: url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

}

@font-face {
  font-family: 'Fredoka One';
  src: url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap')
}
/* This will apply your new font to all the body elements of the website */



p
{
  font-family: "Gruppo"
}
*{
  box-sizing: border-box
}
body {
}
