
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Gruppo";
  src: url('https://fonts.googleapis.com/css?family=Gruppo');

}

@font-face {
  font-family: "Raleway";
  src: url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

}

/* This will apply your new font to all the body elements of the website */



p
{
  font-family: "Gruppo"
}
*{
  box-sizing: border-box
}
body {
  background:  url('./img/white2.jpg') no-repeat center center fixed;
  background-size: cover;
  background-size: 100% 100%;
  font-family: 'Actor';
  width: 100%;
  z-index: 100;
  height: 100%
}
